.center {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }
.left{
    display: block;
    margin-left: 1cm;
    margin-right: 4cm;
    size: 4cm;
}
.right{
    position: relative;
    display: block;
    margin-bottom: 2cm;
    margin-bottom: 4cm;
    margin-right: 1cm;
}

.topright{
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
  }
  

.ani_button1{
    border-radius: 4px;
    background: linear-gradient(to right, #67b26b, #4ca2cb) !important;
    border: none;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    padding: 20px;
    width: 200px;
    transition: all 0.4s;
    cursor: pointer;
    margin: 5px;
  }
.container {
    position: relative;
  }
  
.box {
  background-image: linear-gradient(to bottom right, purple, blue);
  font-size: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 320px;
  height: 320px;
  padding: 20px;
  border: 10px solid black;
  border-radius: 10px;
  margin: 0;
}  

.flex-box{
  display: flex;
}
