.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
.left{
    display: block;
    margin-left: 1cm;
    margin-right: 4cm;
    size: 4cm;
}
.right{
    flex: content;
    margin-left: 10px;
    margin-right: 400px;
    width: 50%;
}