<html lang="en">
    <head>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css')}}" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='pokecon.ico') }}">

        <title>Pokedex</title>
    </head>
    <body>
        <div style="text-align: center;">
            <img src="static/images/Pokedex_logo.png" alt="Logo" />
        </div>
        <form id="form-style" method="POST" action="{{ url_for('index') }}">
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}

            <h1 style="color: yellow;">
                Pokemon
            </h1>
            
            <h1>
                {{ form.pokemon }}
            </h1>

            <ul style="color: red;">
                {% for error in form.pokemon.errors %}
                    <h2>
                        <b>{{error}}</b>
                    </h2>
                {% endfor %}
            </ul>
            <input class="ani_button1" style="text-align: center;" type="submit" value='Submit'>
        </form>

        <div>
            <img src="static/images/pikachu.png" alt="pika" class="left" width="500" height="350" />
        </div>
        <div class="topright">
            <img src="static/images/Ash.png" alt="ash" class="topright" />
        </div>
    </body>
</html>