<html lang="en" style="background-color: black;">
    <link rel="stylesheet" media="screen" href="static/style.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='pokecon.ico') }}">
<head>
    <title>Pokedex</title>
</head>
<img src="static/images/Pokedex_logo.png" alt="Logo" class="center">
<img src="static/images/pikachu.png" alt="pika" class="left" width="500" height="350">
<div style="text-align: right;"><img src="static/images/Ash.png" alt="Ash" width="250" height="500"></div>
</html>