<!DOCTYPE html>
<html style="background-color: chocolate;">
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css')}}" />
<link rel="shortcut icon" href="{{ url_for('static', filename='pokecon.ico') }}">

<head>
    <title>Info {{ pok }}</title>
</head>

<body class="container">


    <h1>{{ Slot_number }}, {{ Hidden }}, {{ Type_name }}, {{ Species_name }}, {{ Form_name }}, {{ Slot }},
        {{ Ability}}
        &#128516;</h1>
    <div class="flex-box">
        <div class="box"><ul>
            <li>Ablility: {{ Ability }} </li>
            <li>Slot: {{ Slot }}</li>
            <li>Hidden: {{ Hidden }}</li>
        </ul>
        </div>
        <div class="box"><ul><li>Type: {{ Type_name }}</li></ul></div>
    </div>
</body>

</html>