<!DOCTYPE html>
<html style="background-color: chocolate;">
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css')}}"
/>
<link rel="shortcut icon" href="{{ url_for('static', filename='pokecon.ico') }}">

<head>
    <title>Info {{ pok }}</title>
</head>

<body class="container">


    <h1 class="bruh">{{ Slot_number }}, {{ Hidden }}, {{ Type_name }}, {{ Species_name }}, {{ Form_name }}, {{ Slot }}, {{ Ability}}
        &#128516;</h1>
    <div style="text-align: center;" class="box">Slot Number: {{ Slot_number }}</div>
</body>

</html>