<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css')}}" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='pokecon.ico') }}">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

        <title>{{ pok }} | info</title>
    </head>

    <body class="container">


        <h1>
            
        </h1>
        <div class="jumbotron jumbotron-fluid vertical-center">
            <div class="container">
                <h1 class="display-4 text-center">Info about {{ pok }}</h1>
                <p class="lead">
                    <div class="flex-box">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body col px-md-5">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">
                                    <ul>
                                        <li>
                                            Species Name: {{ Species_name }}
                                        </li>
                                        <li>
                                            Name: {{ Form_name }}
                                        </li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                        
                        <div class="card col px-md-5" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">
                                    <ul>
                                        <li>
                                            Ablility: {{ Ability }}
                                        </li>
                                        <li>
                                            Slot: {{ Slot }}
                                        </li>
                                        <li>
                                            Hidden: {{ Hidden }}
                                        </li>
                                        <li>
                                            Type: {{ Type_name }}
                                        </li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </p>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>
</html>